body{
    background-color:cadetblue;
}
.head{
    text-align:center;
    font-family:Lucida Sans;
}
#xo{
    color:blanchedalmond;
}
.grid{
    margin-left: auto;
    margin-right: auto;

    
}
.btns{
    width:90px;
    height:90px;
}